recursive-include slinn *
recursive-include slinn/defaults *
recursive-include slinn/templates *
recursive-include slinn/tools *
recursive-include slinn/spm *
recursive-include dexir *
global-exclude *.py[cod]
prune Writerside
prune t
prune build
prune venv
