<% BOLD %>Slinn manager help page

Commands<% RESET %>:
    <% cmd %> run                                                              <% GRAY %># Starts server<% RESET %>
    <% cmd %> create {app`s name} host=(host1) host=(host2)...                 <% GRAY %># Creates a new app
        Example: <% cmd %> create localhost host=localhost host=127.0.0.1<% RESET %>
    <% cmd %> delete {app`s name} (project`s path)                             <% GRAY %># Deletes an app
        Example: <% cmd %> delete localhost<% RESET %>
    <% cmd %> template {template`s name} (projects`s path)                     <% GRAY %># Installs a template
        Example: <% cmd %> template firstrun<% RESET %>
    <% cmd %> update                                                           <% GRAY %># Updates project.py<% RESET %>
    <% cmd %> migrate_app {app`s name}                                         <% GRAY %># Migrates app(check slinn.guides.migration1xx2xx.migration1xx2xx)<% RESET %>
    <% cmd %> help                                                             <% GRAY %># Prints this help<% RESET %>
    <% cmd %> version                                                          <% GRAY %># Prints version of Slinn<% RESET %>
