from slinn import Server, AsyncServer, Address
from slinn.tools.manage.misc import get_dir_checksum
from htrf import htrf
from hcdp import hcdp
import logging
import asyncio
import zipimport
<% imports %>


def reloader(server):
    from slinn.tools.manage.misc import get_dir_checksum
    import importlib, traceback
    global checksum
    try:
        if checksum != get_dir_checksum('.'):
            checksum = get_dir_checksum('.')
            <% reloads %>
            server.reload(<% server_reload %>)
    except Exception:
        print('During handling request, an exception has occured:')
        traceback.print_exc()


logging.basicConfig(filename=f'{cfg["name"]}.journal.log', level=logging.INFO)

checksum = get_dir_checksum('.')

<% if async %>asyncio.run(<% endif %>(<% server_class %>(
    <% dps %>,
    smart_navigation = <% smart_navigation %>,
    ssl_fullchain = <% ssl_fullchain %>,
    ssl_key = <% ssl_key %>,
    timeout = <% timeout %>,
    max_bytes_per_receive = <% max_bytes_per_receive %>,
    max_header_size = <% max_header_size %>,
    _func=reloader,
    htrf = htrf, 
    hcdp = hcdp,
    debug = True if '<% debug %>' == 'true' else False
)).listen(Address(<% port %>, '<% host %>'))<% if async %>)<% endif %>
